mat-nav-list {
  width: 200px;

}

mat-sidenav-content {
  height: 85vh;
}

mat-card {
  margin-bottom: 10px;
}

.container {
  max-width: 100%;
  min-height: 100%;
  background-color: rgb(213, 213, 233);
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}