
    <div>
        <mat-card-header>
          <mat-card-title><h1>Olá, seja bem-vindo </h1></mat-card-title>
          <p>para nós é sempre um prazer te-lo aqui conosco!</p>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>Por que registrar sua visita?</mat-card-subtitle>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terás o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/login">Vamos começar</button>
        </mat-card-actions>
      </div>
      

  