
    <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Ola, para nós é sempre um prazer te-lo aqui conosco!</h1></mat-card-title>
          <mat-card-subtitle><h2>Por que registrar minha visita?</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
          <mat-action-list>A comunidade terá o registro de todas as visitas</mat-action-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/">Vamos começar</button>
        </mat-card-actions>
      </mat-card>
      

  