<div class="container-read">
    <mat-toolbar class="container-read">
        <h1>Todas as suas visitas</h1>
    </mat-toolbar>

    <mat-card class="card">
        <mat-card-title>Defesa de mestrado</mat-card-title>
        <mat-card-content>
            <ul>
                <li>13/05/2023</li>
                <li>Dona Josefa</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Primeira visita para TCC</mat-card-title>
        <mat-card-content>
            <ul>
                <li>13/05/2023</li>
                <li>Dona Josefa</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Primeira visita para TCC</mat-card-title>
        <mat-card-content>
            <ul>
                <li>13/05/2023</li>
                <li>Dona Josefa</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

