<div class="container">
    <mat-toolbar>
        <h1>Registre sua visita</h1>
    </mat-toolbar>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Ocupação</mat-label>
            <mat-select>
              <mat-option >Estudante</mat-option>
              <mat-option >Professor</mat-option>
              <mat-option >Pesquisador</mat-option>
              <mat-option >Estudante</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Objetivo</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Descreva o objetivo</mat-label>
            <textarea matInput rows="3"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Como foi sua visita?</mat-label>
            <textarea matInput rows="3"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Cadastrar</button>
    </form>
      
</div>
  
  
